# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.json
*.txt
*.tex
*.pdf
*.png
*.yoda
analysis/
lhapdf/
jobs/
Rivet-*/
YODA*/
MG5_aMC_v*/
fastjet-*/
fjcontrib-*/
rivet-bootstrap
hepmc*/
local/
*.tar.gz
mgconfigscript
cards/fitting-exercise
